:root {
    --color-barra-lateral: rgb(236, 229, 229);
    --color-texto: rgb(0, 0, 0);
    --color-texto-menu: rgb(134, 134, 144);
    --color-boton: rgb(92, 90, 90);
    --color-boton-texto: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.barra-lateral {
    height: 100vh;
    width: 275px;
    overflow: hidden;
    padding: 20px 15px;
    background-color: var(--color-barra-lateral);
    transition: width 0.5s ease;
}

.mini-barra-lateral {
    width: 80px;
}

.barra-lateral .nombre-pagina {
    width: 100%;
    height: 45px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.barra-lateral .nombre-pagina ion-icon {
    min-width: 50px;
    font-size: 40px;
    cursor: pointer;
}

.barra-lateral .nombre-pagina .menu-texto {
    margin-left: 5px;
    font-size: 25px;
    transition: opacity 0.5s ease, width 0.5s ease;
}

.barra-lateral .nombre-pagina .menu-texto.oculto {
    opacity: 0;
    width: 0;
}

.barra-lateral .navegacion li {
    list-style: none;
    display: flex;
    margin-bottom: 5px;
}

.barra-lateral .navegacion a {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: var(--color-barra-lateral);
    color: var(--color-texto-menu);
}

.barra-lateral .navegacion .menu-texto {
    transition: opacity 0.5s ease;
}

.barra-lateral .navegacion .menu-texto.oculto {
    opacity: 0;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Cambia esto para alinear el contenido en la parte superior */
}

.main-content h1 {
    font-size: 2.5em; /* Aumenta el tamaño del texto */
    margin-bottom: 50px;
    text-align: center;
}
.main-content .globe-icon {
    font-size: 200px; /* Ajusta el tamaño del ícono aquí */
    color: #000000; /* Cambia el color del ícono si es necesario */
    margin-bottom: 50px;
}
.main-content .name {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 40px;
    text-align: center;
}
